.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
  
.alert.success {background-color: var(--rpz-success);}
.alert.info {background-color: var(--rpz-info);}
.alert.warn {background-color: var(--rpz-warning);}
.alert.err {background-color: var(--rpz-danger);}

.chips{
    display: flex;
    width: fit-content;
    padding: 0.375rem 0rem;
}

.chip{
    border-radius: var(--rpz-border-radius2);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
}

/* .ql-container{
  height: unset;
} */
/* 
.editable .ql-container:hover{
    background-image: url('/assets/app/edit.svg'); 
    background-position: right center;
    background-repeat: no-repeat;
  }
  
  .brd-item .ql-container{
    border: 1px solid rgb(0, 0, 0, 0);
    border-radius: var(--rpz-border-radius);
  }
  
  .brd-item .ql-container:hover {
    border: 1px solid var(--rpz-gray-200);
  }
  
  .highlight .ql-container:hover {
    background-color: var(--rpz-gray-100);
  }
  
  .highlight2 .ql-container:hover {
    background-color: var(--rpz-gray-200);
  }
  
  .highlight3 .ql-container:hover {
    background-color: var(--rpz-gray-300);
  } */