<div class="container bg-white" (click)="close($event)">
<!--     <div class="row w-100">
        <span class="fx-g"></span>
        <button type="button" (click)="add($event)" class="btn-medium rounded">
            <span class="material-icons">add</span>
        </button>
    </div> -->
    <div class="row-res p-10 g-10x">
        <div *ngFor="let lst of lists" [id]="lst.name" (drop)="onDrop($event)" (dragover)="allowDrop($event)" 
                class="list bg-dark card w-100">
            <div class="row pr-5">
                <ediv [data]="lst.name" (onChange)="editName($event, lst)" class="title highlight2 brdr px-10 py-5 fx-g"></ediv>
                <!-- <div  *ngIf="!isEditable(lst.name)" (dblclick)="makeEditable($event, lst.name)" class="title px-10 py-5 fx-g">{{lst.name}}</div>
                <input *ngIf="isEditable(lst.name)" type="text" [ngModel]="lst.name" (blur)="editName($event, lst)"
                             class="title px-10 py-5 fx-g"> -->
                <span (click)="add($event, lst)" class="btn-icon material-icons primary py-5 mr-5">add</span>
                <div class="dropdown">
                    <span class="btn-icon material-icons primary mr-3 py-5">more_horiz</span>
                    <div class="dropdown-content brdr p-3" >
                        <a (click)="deleteLst($event, lst)"> <span class="material-icons-outlined primary py-5 mr-5">delete</span> Remove</a>
                    </div>
                </div>
            </div>
            <div class="card-body p-10">
                <ng-container *ngFor="let task of tasks">
                    <div *ngIf="task.status == lst.name" [id]="task.id" draggable="true" (dragstart)="onDrag($event, task.id)" class="task card w-100 my-10">
                        <div class="row pr-5">
                            <ediv [data]="task.name" (onChange)="editName($event, task)" class="highlight brdr px-10 py-5 fx-g"></ediv>
                            <!-- <div  *ngIf="!isEditable(task.name)" (dblclick)="makeEditable($event, task.name)" class="px-10 py-5 fx-g">{{task.name}}</div>
                            <input *ngIf="isEditable(task.name)" type="text" [ngModel]="task.name" (blur)="editName($event, task)" class="px-10 py-5 fx-g"> -->
                            <span (click)="edit($event, task)" class="btn-icon material-icons primary mr-3 py-5">edit</span>
                            <span (click)="remove($event, task)" class="btn-icon material-icons primary py-5">delete</span>
                        </div>
                        <div class="card-body">
                            <ediv [(data)]="task.des" type="textarea" [cssClass]="'brd-item highlight h-200-mx of-h'"></ediv>
                            <!-- <div  *ngIf="!isEditable(task.id)" (dblclick)="makeEditable($event, task.id)" class="p-5 brd-item">{{task.des}}&nbsp;</div>
                            <textarea *ngIf="isEditable(task.id)" type="text" [(ngModel)]="task.des" (blur)="editDetail($event, task)"></textarea> -->
                            <div class="row ml-5 my-5 fx-cent-vert">
                                <span *ngIf="task.comments && task.comments.length > 0" class="material-icons-outlined fnt-small mr-5">mode_comment</span>
                                <span *ngIf="task.attachments && task.attachments.length > 0" class="material-icons-outlined fnt-small">attachment</span>
                                <chips class="row ml-5" [chips]="task.labels"></chips>
                            </div>
                            
                        </div>
                    </div>
                </ng-container>
            </div>
            <!-- <div class="px-10">
                <span (click)="add($event, lst)" class="btn-icon material-icons primary py-5 mr-5">add</span>
                <span class="title-light">Add Task</span>
            </div> -->
        </div>
        <span (click)="addLst($event)" class="btn-icon material-icons primary py-5 mr-5">add</span>
    </div>
</div>      
<drawer #drawer class="grd py-10">
    <ng-container *ngIf="task">
        <div class="wiz-title">
            <button type="button" (click)="drawer.close()" class="btn-medium rounded mr-3">
                <span class="material-icons">close</span>
            </button>
            <span class="fx-g fx-cent-vert px-5">Task</span> 
            <!-- <button type="button" (click)="design()" class="btn-medium rounded mr-3">
                <span class="material-icons">account_tree</span>
            </button> -->
        </div>
        <ediv [(data)]="task.name" placeholder="Summary..." [cssClass]="'brd highlight'" class="col mt-20"></ediv>
        <div class="hint mb-20">Task Summary</div> 

        <chip-select [items]="labels" [(chips)]="task.labels"></chip-select>
        <div class="hint mb-5">Labels</div> 

        <file-select [(attachments)]="task.attachments"></file-select>
        <div class="hint mb-20">Attachments</div> 

        <!-- <select class="mt-20" name="labels" [(ngModel)]="task.labels">
            <!-- <option value="" disabled>--Select One--</option> --
            <option *ngFor="let tg of labels" [value]="tg.name"><div class="prvdata brdr fit p-3 my-2 z2" 
                [ngStyle]="{'background-color': tg.color}">{{tg.name}}</div></option>  
        </select> -->

        <div class="hint">Description</div> 
        <ediv [(data)]="task.des" placeholder="Description..." type="editor" [btn]="true" [cssClass]="'brd highlight'" class="col mb-50"></ediv>
        <!-- <div class="col mb-20" style="height: 100px;">
            <quill-editor [(ngModel)]="task.des" format="text" theme="snow" name="detail" style="height: 50px;"></quill-editor>
        </div>     -->

        <div class="brd-t"></div>
        
        <div class="hint mt-10">Comments</div> 
        <ediv [(data)]="comment" (onChange)="addComment($event)" placeholder="Leave a comment..." type="editor" [btn]="true" [cssClass]="'brd highlight'" class="col mb-20"></ediv>

        <div *ngFor="let comment of task.comments; let idx=index;" class="brd mt-10">
            <ediv [(data)]="comment.des" type="editor" [cssClass]="'highlight'"></ediv>
            <div class="brd-t"></div>
            <span (click)="rmComment(idx)" class="btn-icon material-icons primary">delete</span>
        </div>
        
        <!-- <div  style="height: 100px;">
            <quill-editor [(ngModel)]="task.des" format="text" theme="snow" name="detail" style="height: 50px;"
                [sanitize]="true" [modules]="qmodules"></quill-editor>
        </div>     -->
        
        <!-- <textarea type="text" placeholder="Detail" [(ngModel)]="task.des" name="detail" class="mt-20"></textarea> -->
        
    </ng-container>
</drawer>
<adialog #dialog style="width:300px;height: 100px; border:0">
    <div class="row mt-30">
        <span class="fx-g"></span>
        <button class="mr-10" (click)="dialog.cancel()">Cancel</button>
        <button (click)="dialog.done('OK')">OK</button>
    </div>
</adialog>
<!--

    <div  (dblclick)="makeEditable($event, lst)" (blur)="editName($event, lst)" class="title px-10 py-5 fx-g"
        [attr.contenteditable]="isEditable(lst.name)">{{lst.name}}</div> 

    <div  (dblclick)="makeEditable($event, task)" (blur)="editName($event, task)" class="px-10 py-5 fx-g"
                                    [attr.contenteditable]="isEditable(task.name)">{{task.name}}</div>

    <div (dblclick)="makeEditable($event, task)" (blur)="editDetail($event, task)" class="card-body p-5 brd-item"
                                [attr.contenteditable]="isEditable(task.name)">{{task.des}}&nbsp;</div>                                    

    <div  *ngIf="!isEditable(task.name)" (dblclick)="makeEditable($event)" class="title px-10 py-5 fx-g">{{lst.name}}</div>
                <input *ngIf="isEditable(task.name)" type="text" [value]="lst.name" (blur)="editName($event, lst)"
                     class="title px-10 py-5 fx-g">
 -->