.detail{
    top: var(--rpz-toolbar-h);
    left: var( --rpz-sidenav-w);
    position: fixed;
    width: calc(100% - var( --rpz-sidenav-w));
    height: calc(100% - var(--rpz-toolbar-h));
    z-index: 0;
}

/* overrides */
.sidenav{
    z-index: 1;
}


